/* Import Star Jedi font */
@font-face {
    font-family: 'Star Jedi';
    src: url('../fonts/Starjedi.ttf') format('truetype');
}

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #111;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-family: 'Star Jedi', sans-serif;
    color: #ffcc00;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a.active {
    color: #fff;
}

main {
    padding: 20px;
}

#banner img {
    width: 100%;
    height: auto;
}

#intro {
    text-align: center;
    margin: 20px 0;
}


section h2 {
    font-family: 'Star Jedi', sans-serif;
    color: #ffcc00;
    border-bottom: 2px solid #ffcc00;
    padding-bottom: 10px;
}

footer {
    background-color: #111;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    color: #ffcc00;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    #intro {
        font-size: 14px;
    }

    .character, .planet {
        flex: 1 1 100%; /* Fuldbredde for hver række */
    }

    .character-container, .planet-container {
        flex-direction: column; /* Sørg for vertikal placering */
    }
}

.character, .planet {
    border: 1px solid #444;
    padding: 10px;
    margin: 10px 0;
    background-color: #222;
    flex: 1 1 calc(33.333% - 20px); /* Adjust the width for larger screens */
    box-sizing: border-box;
}

.character-container, .planet-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between; /* Optional: For spacing */
}


#search {
    margin: 10px 0;
    padding: 10px;
    border-radius: 6px;
}

#search input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #444;
}

#climate-filter {
    margin: 10px 0;
    padding: 10px;
    border-radius: 6px;
}

#next, #prev {
    border-radius: 6px;
    padding: 8px 30px;
    background-color: lightgray;
}

#next:hover:not([disabled]), #prev:hover:not([disabled]) {
    background-color: #ffcc00;
    color: #000;
}


#next:disabled, #prev:disabled {
    background-color: #444;
    color: #fff;
}